.cable-description {
  background-color: $bcg-grey;

  &__wrapper {
    @include container();
  }

  &__path {
    @include container();
    @include path();
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 55px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);

    &-box {
      order: 3;
    }

    &-slider {
      width: 410px;
      min-height: 543px;
      overflow: hidden;
      position: relative;
      margin-right: 30px;
      order: 1;

      img {
        object-fit: contain;
        font-family: 'object-fit: contain;'; // для IE
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      order: 2;

      &-geo {
        width: 360px;
        min-height: 155px;

        padding: 25px;
        margin-bottom: 25px;
        background-color: $white;

        strong {
          display: block;
          font-size: $prs*1.6;
          line-height: $prs*2.2;
          margin-bottom: 20px;
          color: $black;
        }
      }

      &-characteristics {
        strong {
          display: block;
          font-family: $bold;
          font-size: $scs*1.5;
          line-height: $scs*2;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid $black;

          color: $black;
        }

        a {
          font-family: $bold;
          font-size: $scs*1.5;
          line-height: $scs*2;
          text-decoration-line: underline;

          color: $black;

          @include hover($blue);
        }
      }
    }
  }

  &__description {
    display: flex;
    flex-wrap: wrap;

    &-list {
      width: calc(75% - 10px);
      max-width: 836px;
      padding: 0 30px;
      padding-bottom: 50px;
      margin-left: 10px;
      background-color: $white;
    }

    &-item {
      padding-top: 30px;

      h2,
      strong {
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: $prs*2.4;
        line-height: $prs*3.3;
        margin-bottom: 30px;

        color: $black;
      }

      &--feedback {
        h2 {
          width: calc(100% - 165px);
        }
      }
      animation: fadeIn 0.5s ease-in;
    }
  }

  &__pick-list {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 275px;
    margin-right: auto;

    input {
      display: none;
    }
  }

  &__pick-item {
    font-size: $prs*1.6;
    line-height: $prs*2.2;
    cursor: pointer;
    padding: 14px 10px;
    padding-left: 0;
    border-bottom: 1px solid $one-more-grey;

    color: #535353;

    @include hover($blue);
  }

  input[type="radio"]:checked + label {
    color: $black;
  }
}

@media (max-width: $desktop-width) {
  .cable-description {
    &__wrapper {
      padding-top: 45px;
    }

    &__card {
      padding-top: 20px;
      align-items: flex-start;

      &-box {
        order: 1;
        margin-right: 30px;
      }

      &-info {
        width: calc(100% - 400px);
        order: 2;
        margin-bottom: 15px;
      }

      &-slider {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        order: 3;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .cable-description {
    &__pick-list {
      width: 100%;
      min-width: 100%;
      margin-right: 0;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__pick-item {
      width: calc(50% - 5px);
      margin-right: auto;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    &__description {
      &-list {
        width: 100%;
        padding: 0;
        padding-bottom: 50px;
        margin: 0;
        background-color: transparent;
      }
    }

    &__card {
      padding-top: 0;

      &-box {
        width: 100%;
        margin-right: 0;
      }

      &-slider {
        margin-bottom: 20px;
      }

      &-info {
        width: 100%;
        margin: 0;
        order: 3;

        &-geo {
          width: 100%;
          margin-bottom: 0;
        }

        &-characteristics {
          display: none;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}
