.NYMнг-2 {
  background-color: #e5e5e5;

  &__wrapper {
    @include container();
  }

  &__path {
    @include container();
    @include path();
  }

  &__description {
    &-list {
      width: 100%;
      max-width: 836px;
      padding: 0 30px;
      background-color: $white;
    }

    &-item {
      padding-top: 30px;

      h2 {
        font-weight: bold;
        font-size: $prs*2.4;
        line-height: $prs*3.3;
        margin-bottom: 30px;

        color: $black;
      }

      &>.stock {
        padding-top: 0;
      }

      &>.stock>.stock__list>.stock__item:nth-child(6n) {
        margin-right: 25px;  /// разобраться с маргинами !!!!!!!
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .NYMнг-2 {
    &__wrapper {
      padding-top: 45px;
    }
    &__description {
      &-item {
        &>.stock>.stock__list>.stock__item {
          margin-right: 25px;
        }

        &>.stock>.stock__list>.stock__item:nth-child(4n) {
          margin-right: 25px;
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .NYMнг-2 {

  }
}
