.NYMнг {
  &__wrapper {
    @include container();
    padding-bottom: 50px;
  }

  &__path {
    @include container();
    @include path();
  }

  &__title {
    font-family: $bold;
    font-size: $prs*3;
    line-height: $prs*4.1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: $black;
  }

  &__card {
    width: 100%;
    border: 1px solid $lightgrey;
    margin-bottom: 60px;
    transition: box-shadow 0.3s 0.05s;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  &__core-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__core-item {
    width: calc(50% - 15px);
    border: 1px solid $lightgrey;
    margin-right: auto;
    margin-bottom: 20px;
    transition: box-shadow 0.3s 0.05s;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }
}

@media (max-width: $desktop-width) {
  .NYMнг {
    &__wrapper {
      padding-top: 45px;
    }
  }
}

@media (max-width: $tablet-width) {
  .NYMнг {
    &__title {
      margin-bottom: 40px;
    }

    &__card {
      margin-bottom: 50px;
    }

    &__core-item {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
