.about-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 565px;

  &__content {
    width: calc(100% - 180px);
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    margin-right: auto;

    .about-form__mail {
      width: 170px;
      height: 22px;
      padding: 0 5px;
      margin-right: 25px;
      border: 0;
      border-bottom: 1px solid $easygrey;
      background-color: transparent;

      &::placeholder {
        font-size: $scs*1.5;
        line-height: $scs*2;

        color: $black;
      }
    }
  }

  &__upload {
    display: flex;
    justify-content: center;
    font-size: $scs*1.5;
    line-height: $scs*2;
    width: 148px;
    min-height: 31px;
    padding: 0;
    padding-top: 7px;
    cursor: pointer;
    border: 1px solid $lightblue;
    color: $lightblue;
    background-color: transparent;

    @include hover($white, $lightblue);

    label {
      cursor: pointer;
    }
  }

  &__submit {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
    margin-left: auto;

    input {
      bottom: 0;
      left: 6px;
    }

    &-btn {
      width: 165px;
      min-height: 49px;
      font-size: $scs*1.8;
      line-height: $scs*2.5;
      border: 0;
      padding: 0;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 5px;
      color: $white;
      background-color: $primBlack;

      @include hover($yellow, $primBlack);
    }

    label {
      position: relative;
      font-size: $prs*0.7;
      line-height: $prs;
      padding-left: 15px;
      cursor: pointer;

      color: $easyblack;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        content: "";
        border: none;
        background-color: #c4c4c4;
      }
    }

    input:checked + label::before {
      width: 15px;
      height: 15px;
      content: "";
      border: none;
      background-color: transparent;
      background-image: url("../img/checked.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }
}
