.cable-type-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  img {
    align-self: center;
    margin-right: 10px;
  }


  &__box {
    width: calc(70% - 10px);
    max-width: 300px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $bold;
    font-size: $prs*1.4;
    line-height: $prs*1.9;
    margin: auto 0;

    color: $black;
  }

  &__list {
    flex-grow: 1;
    padding-top: 15px;
  }

  &__item {
    padding-right: 10px;
  }

  &__link {
    display: block;
    font-size: $prs*1.2;
    line-height: $prs*1.6;
    text-decoration-line: underline;

    color: $primBlack;

    @include hover($lightblue);
  }
}

@media (max-width: $desktop-width) {
  .cable-type-card {
    img {
      width: 30%;
      object-fit: contain;
    }

    &__box {
      width: 60%;
    }
  }
}
