.cable-card {
  width: 100%;
  max-width: 270px;
  padding: 30px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: $white;

  &__info-container,
  &__order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 10px;

    color: $black;
  }

  &__rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

    &-feedback-count {
      font-size: $scs*1.5;
      line-height: $scs*2;
      margin-left: 5px;
      color: $primBlack;

      span {
        color: $primBlack;
      }
    }
  }

  &__price {
    font-family: $bold;
    font-size: $prs*2.4;
    line-height: $prs*3.3;
    margin-bottom: 20px;

    color: $black;
  }

  &__ask-link {
    display: block;
    font-family: $bold;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 40px;
    color: $blue;

    @include hover($yellow);
  }

  &__btn-box {
    margin-bottom: 40px;
  }

  &__order-link {
    display: block;
    width: 230px;
    padding: 14px 10px;
    font-size: $prs*1.6;
    line-height: $prs*2.2;
    border-radius: 5px;
    text-align: center;

    &--availability {
      margin-bottom: 25px;
      color: $black;
      background-color: $yellow;

      @include hover($white, $yellow);
    }

    &--fabrication {
      border: 1px solid $darkblue;
      color: $darkblue;
      background-color: transparent;

      @include hover($white, $darkblue);
    }
  }

  &__post-link {
    font-size: $prs*1.4;
    line-height: $prs*1.9;
    text-align: center;

    color: $black;

    a {
      display: block;
      font-size: $prs*1.6;
      line-height: $prs*2.2;
      text-decoration-line: underline;
      color: $blue;

      @include hover($yellow);
    }
  }
}

@media (max-width: $tablet-width) {
  .cable-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    margin-bottom: 20px;

    &__info-container,
    &__order-container {
      width: calc(50% - 5px);
    }

    &__info-container {
      margin-right: 10px;
    }
  }
}

@media (max-width: 565px) {
  .cable-card {
    display: flex;
    flex-direction: column;

    &__info-container,
    &__order-container {
      width: 100%;
    }
  }
}
