.footer-form {
  background-color: $footer-black;

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 143px;
    padding: 40px 150px;
  }

  &__title {
    font-family: $bold;
    font-size: $prs*1.8;
    line-height: $prs*2.5;
    margin-right: 50px;
    color: $white;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    fieldset {
      display: flex;
      flex-direction: column;
      border: none;
    }
  }

  &__textarea,
  &__content,
  &__submit {
    margin: 0;
    padding: 0;
  }

  &__content {

    margin-right: 25px;

    input {
      width: 220px;
      min-height: 26px;
      padding: 5px 10px;
      font-size: $prs;
      line-height: $prs*1.4;
      text-align: left;
      border: none;
      margin-bottom: 10px;
      background-color: $form-grey;
      color: $white;

      &::placeholder {
        font-size: $prs;
        line-height: $prs*1.4;
        color: $white;
      }
    }
  }

  &__upload {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 26px;
    text-align: left;
    font-size: $prs;
    line-height: $prs*1.4;
    padding: 5px 10px;
    background-color: $form-grey;
    color: $white;

    label {
      width: 40%;
      cursor: pointer;

      @include hover($yellow, $form-grey);
    }

    span {
      width: 60%;
    }
  }

  &__textarea {
    margin-right: 50px;

    textarea {
      width: 218px;
      height: 62px;
      resize: none;
      border: none;
      font-size: $prs;
      line-height: $prs*1.4;
      color: $white;
      padding: 5px;
      background-color: $form-grey;

      &::placeholder {
        font-size: $prs;
        line-height: $prs*1.4;
        color: $white;
      }
    }
  }

  &__submit {
    label {
      position: relative;
      font-size: $prs*0.9;
      line-height: $scs*1.5;
      padding-left: 15px;
      cursor: pointer;
      color: $easygrey;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        content: "";
        border: none;
        background-color: $one-more-grey;
      }
    }

    input:checked + label::before {
      width: 10px;
      height: 10px;
      content: "";
      border: none;
      background-color: transparent;
      background-image: url("../img/checked.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      border: 1px solid $one-more-grey;
    }

    button {
      width: 175px;
      min-height: 38px;
      font-size: $prs*1.8;
      line-height: $prs*2.5;
      border: 1px solid $darkyellow;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 19px;
      color: $yellow;
      background-color: transparent;

      @include hover($black, $yellow);
    }
  }
}

@media (max-width: $desktop-width) {
  .footer-form {
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      padding: 25px 0 35px;
    }

    &__content,
    &__textarea,
    &__title {
      margin-right: 0;
    }

    &__title {
      margin-right: 0;
      margin-bottom: 35px;
    }

    &__form {
      width: 465px;
    }

    &__textarea {
      margin-left: auto;
    }

    &__submit {
      padding-top: 30px;
      margin: 0 auto;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer-form {
    &__wrapper {
      padding: 25px 15px;
    }

    &__title {
      align-self: flex-start;
    }

    &__form {
      flex-direction: column;
      width: 100%;

      & fieldset {
        width: 100%;
      }
    }

    &__content {
      input {
        width: inherit;
        margin-bottom: 15px;
      }
    }

    &__upload {
      margin-bottom: 15px;
    }

    &__textarea {
      margin-left: 0;

      & textarea {
        width: inherit;
      }
    }

    &__submit {
      & button {
        width: 100%;
      }
    }
  }
}
