.footer-request-form {
  background-color: $footer-black;

  &__wrapper {
    @include container();

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 143px; // не работает в ие
    //height: 143px;   // нужно так
  }

  &__title {
    font-family: $bold;
    font-size: $prs*1.8;
    line-height: $prs*2.5;
    margin-right: 50px;
    color: $white;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    fieldset {
      display: flex;
      flex-direction: column;
      border: none;
    }
  }

  &__textarea,
  &__content,
  &__submit {
    margin: 0;
    padding: 0;
  }

  &__content {

    margin-right: 25px;

    input,
    button {
      width: 220px;
      min-height: 26px;
      padding: 5px 10px;
      font-size: $prs;
      line-height: $prs*1.4;
      text-align: left;
      border: none;
      background-color: $footer-form-grey;
      color: $white;
    }

    input {
      margin-bottom: $prs;

      &::placeholder {
        font-size: $prs;
        line-height: $prs*1.4;
        color: $white;
      }
    }

    button {
      cursor: pointer;
    }
  }

  &__textarea {

    margin-right: 50px;

    textarea {
      width: 218px;
      height: 62px;
      resize: none;
      border: none;
      font-size: $prs;
      line-height: $prs*1.4;
      color: $white;
      padding: 5px;
      background-color: $footer-form-grey;

      &::placeholder {
        font-size: $prs;
        line-height: $prs*1.4;
        color: $white;
      }
    }
  }

  &__submit {
    label {
      position: relative;
      font-size: $prs*0.9;
      line-height: $scs*1.5;
      padding-left: 15px;
      cursor: pointer;
      color: $easygrey;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        content: "";
        border: none;
        background-color: #c4c4c4;
      }
    }

    input:checked + label::before {
      background-color: red; // попросить иконку
    }

    button {
      width: 175px;
      min-height: 38px;
      font-size: $prs*1.8;
      line-height: $prs*2.5;
      border: 1px solid $footer-request-form-btn-brd;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 19px;
      color: $yellow;
      background-color: transparent;
    }
  }
}

@media (max-width: $desktop-width) {
  .footer-request-form {
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      padding: 25px 0 35px;
    }

    &__content,
    &__textarea,
    &__title {
      margin-right: 0;
    }

    &__title {
      margin-right: 0;
      margin-bottom: 35px;
    }

    &__form {
      width: 465px;
    }

    &__textarea {
      margin-left: auto;
    }

    &__submit {
      padding-top: 30px;
      margin: 0 auto;
    }
  }
}
