.footer-social {

  display: flex;
  flex-direction: column;

  &__link {
    font-family: $bold;
    font-size: $scs*1.5;
    line-height: $scs*2;
    margin-bottom: 10px;

    color: $white;

    &--mail {
      font-family: $reg;

      span {
        color: $yellow;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .footer-social {
    flex-direction: row;
    flex-wrap: wrap;

    &__link {
      width: 50%;
    }
  }
}
