//fonts

$reg: "OpenSansRegular";
$bold: "OpenSansBold";

// widths

$desktop-width: 1440px;
$tablet-width: 835px;

// sizes

$prs: 10px;
$scs: 8px;

// colors
$grey: #f2f2f2;
$easygrey: #737373;
$lightgrey: #e8e8e8;
$footer-form-grey: #5f5c5c;
$company-grey: #8a8a8a;
$footer-form-btn-brd: #dcbe06;
$about-form-bg: #f8f8f8;
$card-grey: #878787;
$lightblue: #1473e6;
$seach-btn: #151716;
$primBlack: #303030;
$footer-black: #111111;
$black: #000000;
$easyblack: #6d6d6d;
$white: #ffffff;
$blue: #237be8;
$strongblue: #1867c6;
$secondblue: #408deb;
$yellow: #f5d200;
$lightgreen: #f3fbfd;
$brd-lightgrey: #4b4a4a;
$brd-grey: #b9b9b9;
$bcg-grey: #f9f9f9;
$brd-black: #a0a0a0;
$catalog-brd: #cacaca;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
