// swiper slider styles

.dealership-swiper-container {
  padding: 0 50px;

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    align-items: center;
    width: 38px !important;
    height: 24px !important;
    background-image: url("../img/slider-arrow.svg");
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: transparent;
    transform: scale(0.6);
    transition: transform 0.7s 0.1s;
  }


  .swiper-button-prev {
    left: 0;
    transform: rotate(180deg);
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-slide-next,
  .swiper-slide-prev {
    transform: scale(0.8);
  }

  .swiper-slide-active {
    transform: scale(1);
    z-index: 1;
  }

}

@media (max-width: $tablet-width) {
  .dealership-swiper-container {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}
