.pagination {
  min-width: 345px;
  border-top: 1px solid $catalog-brd;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  &__show-btn {
    width: 150px;
    font-size: $prs*1.6;
    line-height: $prs*2.8;
    text-align: center;
    border: none;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: $black;

    @include hover($yellow);

    &:disabled {
      cursor: default;
      color: grey;

      @include hover(grey);
    }
  }

  &__box {
    display: flex;
    width: 100%;
    padding: 70px 0;
    border-top: 1px solid $catalog-brd;
    border-bottom: 1px solid $catalog-brd;
    justify-content: center;
  }

  &__btn-prev,
  &__btn-next,
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    font-family: $bold;
    font-size: $prs*1.2;
    line-height: $prs*2.1;
    cursor: pointer;
    color: $black;
    transition: border 0.3s;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      border: 1px solid $one-more-grey;
    }

    &:disabled {
      opacity: 0.5;

      &:hover,
      &:focus {
        cursor: default;
        border: none;
      }
    }
  }

  &__btn.active {
    background-color: $one-more-grey;
  }
}

@media (max-width: $desktop-width) {
  .pagination {
    padding: 0;
  }
}

@media (max-width: $tablet-width) {
  .pagination {
    &__box {
      padding: 30px 0;
    }

    &__show-btn {
      min-height: 30px;
    }
  }
}
