.stars {
  position: relative;
  height: 16px;
  width: 80px;
  overflow: hidden;

  &__wrapper {
    display: flex;
    position: absolute;
    width: 160px;
    top: 0;
    left: 0;
    transform: translateX(0);
  }

  svg {
    display: block;
    fill: transparent;
  }
}
