.dealership {
  background-color: $primBlack;

  &__wrapper {
    @include container();
    min-height: 611px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative; // для слайдера
  }

  &__title {
    margin-bottom: 70px;
    font-family: $bold;
    font-size: $prs*3;
    line-height: $prs*4.1;
    letter-spacing: 0.05em;
    text-align: center;
    color: $white;
  }

  /*&__slider {
    display: flex;
    align-items: center;
  }*/
}
