.footer {
  margin-top: auto;
  background-color: $primBlack;

  &__wrapper {
    @include container();
    padding-top: 15px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px;
    min-height: 307px;
  }

  &__logo {
    position: absolute;
    top: -10px;
    left: 0;
  }

  &__nav {

    display: flex;
    flex-wrap: wrap;

    &-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      width: 66.66%;
    }

    &-item {
      width: 50%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      font-family: $bold;
      font-size: $scs*1.5;
      line-height: $scs*2;

      color: $white;

      @include hover($yellow);
    }
  }
}

@media (max-width: $tablet-width) {
  .footer {
    &__nav {
      &-list {
        width: 100%;
        margin-bottom: 25px;
      }

      &-item {
        padding-right: 10px;
      }
    }
  }
}
