.stock {
  padding-top: 110px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid $company-grey;

  &__wrapper {
    @include container();
  }

  &__filter-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    &-btn {
      min-width: 165px;
      min-height: 55px;
      border: 0;
      border-radius: 5px;
      font-size: $prs*1.8;
      line-height: $prs*2.5;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-right: 80px;
      padding: 0 20px;
      cursor: pointer;
      color: $black;
      background-color: transparent;

      &--active {
        color: $white;
        background-color: $primBlack;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      width: 281px;
      min-height: 55px;
      font-weight: normal;
      font-size: $prs*1.8;
      line-height: $prs*2.5;
      letter-spacing: 0.05em;
      border: 1px solid $lightblue;
      border-radius: 5px;
      margin-left: auto;
      color: $black;
      background-color: transparent;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 169px;
    min-height: 253px;
    font-family: $bold;
    margin-bottom: 25px;
    margin-right: 20px;

    &-box {
      position: absolute;
      padding: 17px 10px 0 10px;
      padding-right: 0;
      border: 1px solid $lightgrey;
      background-color: $white;
      z-index: 1;

      &.active {
        z-index: 10;
        top: 0;
        left: 0;
        border: 1px solid $lightgrey;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      }
    }

    &-order-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $prs*1.4;
      line-height: $prs*1.9;
      width: 0;
      height: 0;
      border: 0;
      padding: 0;
      overflow: hidden;
      border-radius: 5px;
      color: $black;
      background-color: $yellow;
      transition: all 0.3s 0.1s;

      &:focus,
      &:hover {
        position: relative;
        width: 134px;
        min-height: 33px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }


    &:hover,
    &:focus {
      .stock__item-box {
        z-index: 10;
        top: 0;
        left: 0;
        border: 1px solid $lightgrey;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      }

      .stock__item-order-btn {
        position: relative;
        width: 134px;
        min-height: 33px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    &-mark {
      display: flex;
      justify-content: center;
      font-size: $prs;
      line-height: $prs*1.4;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      padding: 0 7px;
      width: fit-content;
      max-width: 85%;
      min-height: 17px;
      border-radius: 100px;
      margin-bottom: 10px;
      padding-top: 1.5px;
      color: $white;
      background-color: $lightblue;
    }

    &-img {
      width: 100%;
      height: 103px;
      margin-bottom: $scs;
    }

    &-title {
      font-size: $prs*1.4;
      line-height: $prs*1.9;
      text-transform: uppercase;
      padding-right: 10px;
      text-align: center;

      color: $black;
    }

    &-availability {
      position: relative;
      font-size: $prs;
      line-height: $prs*1.4;
      letter-spacing: 0.05em;
      text-transform: lowercase;
      margin-bottom: 25px;
      padding-right: 10px;
      padding-left: 15px;

      color: $brd-black;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 14px;
        height: 14px;
        content: "";
        transform: translateY(-25%);
        background-image: url("../img/icon-check.svg");
        background-repeat: no-repeat;
      }
    }

    &-price {
      display: block;
      font-family: $bold;
      font-size: $prs*1.4;
      line-height: $prs*1.9;
      letter-spacing: 0.05em;
      padding-right: 10px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 15px;

      color: $black;
    }
  }
}

@media (max-width: $desktop-width) {
  .stock {
    &__wrapper {
      width: 100%;
      max-width: 780px;
    }

    &__list {
      width: 100%;
      margin: 0 auto;
    }

    &__item {
      width: 165px;
    }

    &__filter-box {
      &-title {
        order: 1;
        width: 100%;
        margin-bottom: 25px;
      }

      &-btn {
        margin-right: auto;
        order: 2;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .stock {
    &__item {
      margin-right: 5px;

      &-box {
        width: 100%;
      }

      &-link {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-mark {
        align-self: flex-start;
      }

      &-img {
        object-fit: cover;
      }
    }

    &__filter-box {
      justify-content: space-between;

      &-btn {
        width: 45%;
        margin-bottom: 25px;
        margin-right: 0;

        &:nth-child(3n) {
          width: 100%;
        }
      }
    }
  }
}
